/* Developer: Pham Viet Hoang. Responsive web design for iPad */
/* Responsive for Menu Bar*/

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1180px) {
    /* Restyle container to utilize the Hamburger Bar */
    #MenuBar{
        display: block;
        padding: 0;
    }
    #MenuBar img{
        display: inline;
        width: 125px;
        margin: 10px 20px;
    }
    #MenuBar label{
        display: inline;
        flex-direction: column;
        z-index: 2;
        position: relative;
        margin: auto 20px;
    }
    /* Create Hamburger Shapes */
    #MenuBar label .Line {
        display: block;
        height: 4px;
        width: 24px;
        border-radius: 10px;
        background: white;
        transition: transform 0.2s ease-in-out;
        margin-top: 6px;
    }
    /* Rotate and modify position the top line */
    #HamburgerMenuBar:checked + div label .TopLine {
        width: 27px;
        transform: rotate(45deg) translateY(4px) translateX(10px);
        transition: transform 0.2s ease-in-out;
    } 
    /* The middle line is disappeared when the hamburger is checked */
    #HamburgerMenuBar:checked + div label .MiddleLine {
        transform: scaleY(0);
        transition: transform 0.2s ease-in-out;
    }
    /* Rotate and modify position the bottom line */
    #HamburgerMenuBar:checked + div label .BottomLine {
        width: 27px;
        transform: rotate(-45deg) translateY(-4px) translateX(10px);
        transition: transform 0.2s ease-in-out;
    }
    /* Open the menu */
    /* Change the nav from flex to block to cover full width and separated with Images and Hamburger Bar*/
    #HamburgerMenuBar:checked ~ nav{
        display: block;
        width: 100%;
    }
    nav{
        display: none;
    }
    /* Make an border to clarify the separtion between navigation link and logo, hamburger bar */
    nav ul{
        width: 100%;
        border-top: 2px solid #b6a4a4;
    }
    nav ul li{
        display: inline;
        width: 100%;
    }
    nav ul li a{
        display: inline-block;
        border-radius: 20px;
        margin: 10px 5px;
        padding: 7px 15px;
        font-size: 20px;
    }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1180px) {
    /* Developer: Pham Viet Hoang. This is the Responsive Index Page */
    #IndexHeaderPage{
        padding-top: 68px;
    }
    /* Styling the header of #IndexHeaderPage*/
    #IndexHeaderPage > header h1{
        width: 90%;
        font-size: 40px;
    }
    #IndexHeaderPage > header h2{
        width: 90%;
        font-size: 36px;
    }
    #IndexHeaderPage > header p{
        width: 85%;
        font-size: 27px;
    }
    /* Restyling the Youtube button in the container */
    #IndexHeaderPage > header a{
        font-size: 32px;
        padding: 10px 40px;
    }
    /* Restyling the containers of two box under the main content */
    /* Repositioning the box and delete the hover effect since we can't hover on ipad*/
    #IndexHeaderPage > div article{
        margin-top: 10px;
        width: 300px;
        height: 250px;
    }
    #IndexHeaderPage > div article > h3{
        width: 100%;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: visible;
        white-space: normal;
        border-right: none;
        animation: none;
    }
    #IndexHeaderPage > div > article > p{
        display: inline;
        font-size: 16px;
        opacity: 1;
        color: black;
    }
    /* Eliminate the box Hover Animation */
    #IndexHeaderPage > div article:hover{
        transform: scale(1.0);
    }
    #IndexHeaderPage > div article:hover h3{
        font-size: 20px;
        transform: translateY(0px);
    }
    #IndexHeaderPage > div article:hover p{
        font-size: 16px;
        transform: translateY(0px);
        margin-top: 0px;
    }
    /* Styling the #UpperBodyIndex header smaller */
    #UpperBodyIndex header h2{
        font-size: 36px;
    }
    /*Extend full width for the container*/
    #UpperBodyIndex div{
        width: 100%;
    }
    /* Resize the suitable text size */
    #UpperBodyIndex a h3{
        margin: auto;
        margin-bottom: 10px;
        font-size: 20px;
    }
    #UpperBodyIndex a p{
        font-size: 16px;
    }
    /* Header Style */
    #BodyIndexHeader{
        font-size: 48px;
    }
    /* Text Underline Style */
    .UlineIndex{
        font-size: 16px;
    }
    #AnimationBodyIndex:checked + header label{
        padding: 0px;
        transition-duration: 1s;
    }
    /* Styles of the #ContainerBodyIndex container after the check button is triggered*/
    #AnimationBodyIndex:checked ~ #ContainerBodyIndex h3{
        font-size: 22px;
    }
    #AnimationBodyIndex:checked ~ #ContainerBodyIndex p{
        font-size: 18px;
    }
    /* Minor changes about size, width and margin in #LowerBodyIndex and #LocationIndex */
    #LowerBodyIndex h2{
        font-size: 36px;
    }
    #Collaboration img{
        margin: auto;
        display: inline-block;
        height: 75px;
    }
    #LocationIndex h2{
        margin-top: 90px;
        margin-bottom: 0;
    }
    #LocationIndex p{
        width: 90%;
        font-size: 16px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #LocationIndex section > div{
        margin-top: 10px;
    }
    #LocationIndex section > div img{
        height: 40px;
    }
    /* End of Responsive Index Page */

    /* Developer: Pham Viet Hoang. This is Responsive Jobs page */
    #HeaderJob{
        padding-top: 150px;
        font-size: 2.8rem;
    }
    #JobsBody {
        padding: 30px;
        width: 100%;
    }
    /* Change the font size to suitable size */
    #JobsBody h2 {
        font-size: 1.8rem;
    }
    #JobsBody p {
        font-size: 1.1rem;
    }
    #JobsBody > aside > p{
        font-size: 16px;
    }
    #JobsBody li {
        font-size: 0.9rem;
        margin-bottom: 5px;
        margin-left: 20px;
    }
    /* Styling the table data and head */
    .job-listing tr td {
        font-size: 0.9rem;
    }
    .job-listing tr th{
        width: 225px;
        font-size: 1.0rem;
    }
    /* End of Responsive Jobs Page */

    /* Developer: Pham Viet Hoang. This is Responsive Apply Page */
    /* Set the padding to 0 */
    form {
        padding: 0rem;
        margin: auto 0;
    }
    .formBox {
        margin: 1.5rem;
    }
    .center{
        width: 700px;
    }
    .center fieldset{
        padding-left: 0rem;
        margin: 1rem 0rem;
    }
    /* Developer: Pham Viet Hoang. This is Responsive About page */
    #GroupNameAbout{
        padding: 0 0;
        margin: auto;
    }
    /* Restyling the figure container */
    #GroupNameAbout figure{
        margin-right: 10px;
        margin-top: 40px;
    }
    /* Resize Group photo */
    #GroupPhotoAbout{
        width: 350px;
    }
    #GroupNameAbout figcaption{
        font-size: 11px;
    }
    /* Restyling the definition list */
    #GroupNameAbout dl{
        width: 50%;
        margin-left: 5px;
    }
    #GroupNameAbout dt, #GroupNameAbout dd{
        font-size: 0.84em; 
    }
    /* Members Demographic Container Restyle */
    .memberInfo {
        width: 95%;
        margin-top: 50px;
        padding: 20px;
    }
    .memberInfo h2{
        font-size: 32px;
    }
    .memberInfo h3{
        font-size: 20px;
    }
    .memberInfo p {
        font-size: 16px;
    }
    .MemberImageSize{
        width: 250px;
    }
    /* Restyling the timetable */
    #timetable table{
        width: 100%;
    }
    #timetable table th {
        font-size: 20px;
    }
    #timetable table td {
        padding: 10px 5px;
        font-size: 16px;
    }
    /* Restyle Team Member Images and Links */
    #team-section div{
        flex-direction: column;
    }
    /* Developer: Pham Viet Hoang. This is Responsive Enhancement page */
    #EnhancementHeader{
        display: flex;
        height: 100vh;
        width: 100vw;
        padding: 20px;
        padding-top: 80px;
    }
    /* Display the content on the column */
    .EnhancementClick{
        font-size: 52px;
        width: 100%;
    }
    #AnimationEnhancementHeader:checked ~ div > a{
        width: 340px;
    }
    #AnimationEnhancementHeader:checked ~ div > a > h2{
        font-size: 20px;
    }
    #AnimationEnhancementHeader:checked ~ div > a > p{
        font-size: 16px;
    }
    /* End of Responsive Enhancement Page */

    /* Developer: Pham Viet Hoang. This is footer Responsive CSS style */
    /* Restyle the first container */
    footer > div:first-child{
        width: 45%;
    }
    /* Restyle the second container */
    footer > div:last-child{
        width: 50%;    
    }
    /* General styles of the header and links of footer*/
    footer > div img{
        width: 20%;
    }
    footer > div h3{
        font-size: 16px;
    }
    footer > div a{
        font-size: 14px;
    }
    footer > div p{
        font-size: 12px;
    }
}
