/* Developer: Viet Hoang Pham. Responsive web design for Low Resolution Tablets or Horizontal Phone Display */

/* Responsive for Menu Bar*/

/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    /* Restyle container to utilize the Hamburger Bar */
    #MenuBar{
        display: block;
        padding: 0;
    }
    #MenuBar img{
        display: inline;
        width: 125px;
        margin: 10px 20px;
    }
    #MenuBar label{
        display: inline;
        flex-direction: column;
        z-index: 2;
        position: relative;
        margin: auto 20px;
    }
    /* Create Hamburger Shapes */
    #MenuBar label .Line {
        display: block;
        height: 4px;
        width: 24px;
        border-radius: 10px;
        background: white;
        transition: transform 0.2s ease-in-out;
        margin-top: 6px;
    }
    /* Rotate and modify position the top line */
    #HamburgerMenuBar:checked + div label .TopLine {
        width: 27px;
        transform: rotate(45deg) translateY(4px) translateX(10px);
        transition: transform 0.2s ease-in-out;
    } 
    /* The middle line is disappeared when the hamburger is checked */
    #HamburgerMenuBar:checked + div label .MiddleLine {
        transform: scaleY(0);
        transition: transform 0.2s ease-in-out;
    }
    /* Rotate and modify position the bottom line */
    #HamburgerMenuBar:checked + div label .BottomLine {
        width: 27px;
        transform: rotate(-45deg) translateY(-4px) translateX(10px);
        transition: transform 0.2s ease-in-out;
    }
    /* Open the menu */
    #HamburgerMenuBar:checked ~ nav{
        display: block;
        flex-direction: column;
        justify-content: flex-start;
    }
    /* Change the list from flexbox to block to cover full width and rearrange it vertically */
    nav{
        display: none;
    }
    nav ul{
        display: block;
        width: 100%;
        text-align: center;
    }
    /* Make an border to clarify the separtion between each links */
    nav ul li{
        display: inline-block;
        width: 100%;
        padding: auto;
        border-top: 2px solid #b6a4a4;
    }
    nav ul #loginandregister{
        float: none;
    }
    nav ul li a{
        display: block;
        border-radius: 20px;
        margin: 5px 0;
        padding: 7px 20px;
        font-size: 18px;
    }
}
/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    #TopIcon{
        padding: 3px 15px;
    }
    #TopIcon p{
        font-size: 24px;
    } 
    /* Developer: Viet Hoang Pham. This is the Responsive Index Page */
    #IndexHeaderPage{
        padding-top: 65px;
    }
    /* Restyling the header of #IndexHeaderPage*/
    #IndexHeaderPage > header h1{
        width: 95%;
        font-size: 36px;
    }
    #IndexHeaderPage > header h2{
        width: 95%;
        font-size: 32px;
    }
    #IndexHeaderPage > header p{
        width: 85%;
        font-size: 27px;
    }
    /* Restyling the Youtube button in the container */
    #IndexHeaderPage > header #YoutubeLink{
        flex-direction: column;
    }
    #IndexHeaderPage > header #YoutubeLink a{
        font-size: 28px;
        padding: 10px 40px;
    }
    /* Restyling the containers of two box under the main content */
    #IndexHeaderPage > div{
        display: block;
        width: 100%;
    }
    /* Repositioning the box and delete the hover effect since we can't hover on ipad*/
    #IndexHeaderPage > div article{
        margin: 0px;
        margin: auto;
        margin-top: 10px;
        display: block;
        width: 90%;
    }
    #IndexHeaderPage > div article > h3{
        width: 100%;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: visible;
        white-space: normal;
        border-right: none;
        animation: none;
    }
    #IndexHeaderPage > div > article > p{
        display: inline;
        font-size: 16px;
        opacity: 1;
        color: black;
    }
    /* Eliminate the box Hover Animation */
    #IndexHeaderPage > div article:hover{
        transform: scale(1.0);
    }
    #IndexHeaderPage > div article:hover h3{
        font-size: 20px;
        transform: translateY(0px);
    }
    #IndexHeaderPage > div article:hover p{
        font-size: 16px;
        transform: translateY(0px);
        margin-top: 0px;
    }
    /* Styling the #UpperBodyIndex header smaller */
    #UpperBodyIndex header h2{
        font-size: 32px;
    }
    /* Styling the contents to display on a colummn */
    #UpperBodyIndex div{
        flex-direction: column;
        width: 90%;
    }
    /* Change the box into block */
    #UpperBodyIndex a{
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
    /* Resize the suitable text size */
    #UpperBodyIndex a h3{
        margin: auto;
        margin-bottom: 10px;
        font-size: 24px;
    }
    #UpperBodyIndex a p{
        font-size: 18px;
    }
    /* Header Style */
    #BodyIndexHeader{
        font-size: 48px;
    }
    /* Text Underline Style */
    .UlineIndex{
        font-size: 16px;
    }
    /* Line the Values and Missions list in the column line since the width is limited */
    #BodyIndex{
        flex-direction: column;
    }
    /* Repadding to suitable width */
    #BodyIndex header label{
        padding: 150px 75px;
    }
    #AnimationBodyIndex:checked + header label{
        padding: 0px 20px;
        transition-duration: 1s;
    }
    /* Styles of the #ContainerBodyIndex container after the check button is triggered*/
    #AnimationBodyIndex:checked ~ #ContainerBodyIndex article{
        padding: 0px 10px;
    }
    #AnimationBodyIndex:checked ~ #ContainerBodyIndex h3{
        font-size: 22px;
    }
    #AnimationBodyIndex:checked ~ #ContainerBodyIndex p{
        font-size: 18px;
    }
    /* Minor changes about size, width and margin in #LowerBodyIndex and #LocationIndex */
    #LowerBodyIndex h2{
        font-size: 32px;
    }
    #Collaboration img{
        margin: auto;
        display: inline-block;
        height: 50px;
    }
    #LocationIndex p{
        width: 90%;
        font-size: 16px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #LocationIndex section > div{
        margin-top: 10px;
    }
    #LocationIndex section > div img{
        height: 40px;
        margin-bottom: 50px;
    }
    /* End of Responsive Index Page */

    /* Developer: Viet Hoang Pham. This is Responsive Jobs page */
    #HeaderJob{
        padding-top: 100px;
        margin-bottom: 0.6rem;
        font-size: 2.5rem;
    }
    #JobsBody {
        padding: 20px;
        width: 100%;
    }
    /* Change the font size to suitable size */
    #JobsBody h2 {
        font-size: 1.6rem;
    }
    #JobsBody p {
        font-size: 1rem;
    }
    #JobsBody > aside > p{
        font-size: 12px;
    }
    .job-listing {
        padding: 1.5rem;
    }
    /* Styling the table data and head */
    .job-listing tr td {
        font-size: 0.9rem;
    }
    .job-listing tr th{
        font-size: 1rem;
        width: 225px;
    }
    #JobsBody li {
        font-size: 0.9rem;
        margin-bottom: 5px;
        margin-left: 20px;
    }
    /* Change the apply button size */
    .apply-button{
        font-size: 1rem;
    }
    /* End of Responsive Apply Page */

    /* Developer: Viet Hoang Pham. This is Responsive Apply Page */
    /* Set the padding to 0 */
    form {
        padding: 0rem;
        margin: auto 0;
    }
    /* Shrink the size of all input types */
    .center select,
    .center input,
    .center option,
    .center textarea {
        font-size: 0.8rem;
        width: 250px;
    }
    .center label {
        font-size: 0.8rem;
    }
    #h1Apply{
        font-size: 2rem;
    }
    /* Change the width of the radio and checkbox options */
    .center option{
        width: 100px;
    }
    /* Change the placement of each grid */
    .formBox {
        grid-template-columns: 130px 240px 0px;
    }
    /* Change the width of the whole application container */
    .center{
        width: 95%;
        margin: auto;
        padding: 20px;
    }
    /* Change the fieldset padding and margin */
    .center fieldset{
        padding: 0;
        margin: 1rem 0rem;
    }
    /* Change the radio to flex to easier to style */
    #radioApply{
        display: flex;
        justify-content: start;
        width: 250px;
        margin-left: 50px;
        text-align: center;
    }
    #radioApply label{
        width: 100%;
        margin: 0;
    }
    #radioApply input{
        width: 100px;
        margin-top: 0px;
        margin-left: 10px;
        height: 30px;
    }
    /* Change the Checkbox layout to place on a column */
    .checkboxApply{
        padding: 0rem 0rem;
        margin: 1rem 1rem 0rem 0rem;
        width: 100%;
    }
    .checkboxApply > label{
        width: 30%;
        float: left;
        clear: both;
    }
    .checkboxApply input{
        margin-top: 5px;
        height: 20px;
    }
    /* End of Responsive Apply Page */
    /* Developer: Viet Hoang Pham. This is Responsive About page */
    #GroupNameAbout{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px 0;
        margin: auto;
    }
    #AboutHeader{
        font-size: 36px
    }
    /* Restyling the figure container */
    #GroupNameAbout figure{
        margin: auto;
        margin-top: 40px;
    }
    /* Resize Group photo */
    #GroupPhotoAbout{
        width: 100%;
    }
    #GroupNameAbout figcaption{
        font-size: 14px;
    }
    /* Restyling the definition list */
    #GroupNameAbout dl{
        width: 100%;
        margin-top: 70px;
        padding: 5px 20px;
        margin: auto;
    }
    #GroupNameAbout dt, #GroupNameAbout dd{
        font-size: 1em; 
    }
    /* Members Demographic Container Restyle */
    .MemberImageSize{
        width: 400px;
    }
    .memberInfo {
        width: 95%;
        padding: 20px;
        flex-direction: column;
    }
    .memberInfo h2{
        margin-top: 40px;
        text-align: center;
        font-size: 28px;
    }
    .memberInfo h3{
        text-align: center;
        font-size: 20px;
    }
    .memberInfo p {
        font-size: 16px;
    }
    .MemberImageSize{
        width: 250px;
    }
    /* Restyling the timetable */
    #timetable > h2{
        font-size: 32px;
    }
    #timetable table{
        width: 95%;
    }
    #timetable table th {
        font-size: 12px;
    }
    #timetable table td {
        padding: 10px 5px;
        font-size: 10px;
    }
    /* Restyle Team Member Images and Links */
    #team-section div{
        flex-direction: column;
    }
    #team-section > h2{
        font-size: 32px;
    }
    .team-member h3 {
        font-size: 1.5rem;
    }
    /* Developer: Viet Hoang Pham. This is Responsive Enhancement page */
    #EnhancementHeader{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        padding: 20px;
        padding-top: 100px;
    }
    /* Display the content on the column */
    .EnhancementClick{
        font-size: 52px;
        width: 100%;
    }
    #AnimationEnhancementHeader:checked ~ div > a{
        width: 400px;
    }
    #AnimationEnhancementHeader:checked ~ div > a > h2{
        font-size: 20px;
    }
    #AnimationEnhancementHeader:checked ~ div > a > p{
        font-size: 16px;
    } 
    /* End of Responsive Enhancement Page */

    /* Developer: Viet Hoang Pham. This is footer CSS style */
    footer{
        display: flex;
        flex-direction: row;
        background-color: black;
        height: auto;
        width: 100%;
    }
    /* Change the size of decoration images */
    #LinkListIndex img{
        height: 28px;
    }
    /* Restyle the first container */
    footer > div:first-child{
        width: 40%;
    }
    /* Restyle the second container */
    footer > div:last-child{
        width: 50%;    
    }
    /* General styles of the header and links of footer*/
    footer > div h3{
        font-size: 14px;
    }
    footer > div a{
        font-size: 12px;
    }
    footer > div p{
        font-size: 10px;
    }
}