/*Fonts using in this website */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@700&family=PT+Sans:wght@700&family=Pacifico&family=Poppins:wght@400;700&display=swap');
/* Styling the color when the user want to highlight a text */
::selection{
    background-color: rgb(253, 230, 197);
    color: black;
}
/* Set the default style of elements*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}
input:focus{
    outline: none;
}
h1{
    font-family: 'Poppins', serif;
} 
h2, h3, h4, a{
    font-family: 'Noto Sans', sans-serif;
    color: black;
    line-height: 1.5;
}
p{
    font-family: 'Noto Sans', sans-serif;
    color: #777;
    line-height: 1.6;
}
body{
    width: 100%;
    max-width: 100%;
}
/* The background of index, jobs and about pages */
#MainBackground{
    background-color: #efefef;
}
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* Developer: Viet Hoang Pham. This is navigation bar CSS style for manager page */
nav{
    position: fixed;
    display: flex;
    width: 225px; 
    height: 100%;
    background-color:#272727;
    flex-direction: column;
    z-index: 3;
    border-right: 5px solid rgb(182, 164, 164);
}
nav > a{
    margin: 10px 0;
    height: 50px;
    text-align: center;
}
nav > a img{
    width: 140px;
}
nav > h1{
    font-size: 24px;
    color: #fff;
    background-color: #005494;
    text-align: center;
    padding: 12.5px 0;
}
nav ul, nav ul li, nav ul li a{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menuicon{
    font-size: 32px;
}
nav ul li a{
    color: #fff;
    font-family: 'Poppins', serif;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.23s ease;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}

/* Making hover effect when hover into a menu link */
nav ul li a:hover {
    background: #faebd7;
    color: black;
}
/* Styling the current page box */
nav ul li a#active {
    background-color: #0087ee;
    color: black;
}
nav form{
    margin: 0 auto; 
    margin-top: auto;
    margin-bottom: 7.5%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
nav form button{
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', serif;
    padding: 10px 55px;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}
nav form button:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
}
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    background-color: white;
    align-items: center;
    z-index: 2;
    box-shadow: 3px 2px 2px rgb(205, 205, 205);
}
header p{
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-right: 30px;
}
header #username{
    color: #0068b8;
    font-weight: 600;
}
header form button{
    display: flex;
    align-items: center;
    background-color: red;
    border: none;
    color: #fff;
    font-family: 'Poppins', serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    margin-right: 20px;
    transition-duration: 0.2s;
}
header form button:hover{
    transform: scale(1.05);
    transition-duration: 0.2s;
}
main{
    padding: 100px 40px 30px 260px;
}
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* Developer: Viet Hoang Pham. This is manage page CSS style */
#mainform{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    height: auto;
    box-shadow: 4px 3px 3px rgb(205, 205, 205);
}
#mainform #serverquery{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
#mainform select{
    text-align: center;
    background-color: white;
}
select, input, label, button{
    font-family: 'Noto Sans', sans-serif;
    color: black;
    line-height: 1.5;
    border-radius: 5px;
    margin: 0 3px;
}
select, button{
    cursor: pointer;
}
input::placeholder{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}
#mainform button{
    height: 50px;
    background-color:#0961a5;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
    transition-duration: 0.2s;
}
#searchQuery button:hover{
    background-color:#177ecd;
    transition-duration: 0.2s;
}
#deleteJobReference button:hover{
    background-color:#177ecd;
    transition-duration: 0.2s;
}
#deleteJobReference label{
    font-size: 16px;
    margin-right: 7px;
}
#mainform select{
    border: 2px solid rgb(128, 128, 128);
    background-color: rgb(244, 250, 255);
    font-size: 16px;
    height: 50px;
}
#mainform #serverquery > a{
    text-decoration: none;
    padding: 10px 20px;
    background-color:#0961a5;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}
/* CSS styles for query buttons */
#deleteJobReference select{
    width: 100px;
}
#deleteJobReference button{
    width: 160px;
}
#searchQuery select{
    width: 150px;
}
#searchQuery button{
    width: 100px;
}
#searchQuery label{
    display: none;
}
#searchQuery input{
    height: 50px;
    width: 250px;
    border: 2px solid rgb(205, 205, 205);
    padding: 10px;
    font-size: 16px;
    transition-duration: 0.1s;
}
#searchQuery input:focus{
    border: 2px solid #177ecd;
    transition-duration: 0.1s;
}
#mainform th, #mainform td{
    font-family: 'Noto Sans', sans-serif;
}
#tableheader{
    background-color: #272727;
    border: none;
}
/* Table CSS style of manage page */
table{
    border-collapse: collapse;
}
table #tableheader th button{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: transparent;
}
table #tableheader th #activeASC{
    color:rgb(81, 174, 255);
}
table #tableheader th #activeDESC{
    color:rgb(108, 255, 147);
}
table #tableheader th button:hover{
    text-decoration: underline;
}
table #tableheader th{
    font-size: 20px;
    color: white;
    text-align: center;
    border: none;
    padding: 2px 5px;
    background-color: transparent;
}
#mainform table tr{
    border-radius: 20px;
}
#mainform table tr td{
    font-size: 17px;
    border-bottom: 2px solid rgb(205, 205, 205);
    padding: 10px 3px;
    text-align: center;
}
/* CSS styles for each text types */
.mainTextName{
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.mainText{
    color: black;
    font-size: 17px;
}
.subText{
    color: #00447b;
    font-size: 14px;
}
/* editButton and deleteButton CSS styles */
.deleteButton{
    font-size: 24px;
    color: red;
}
.editButton{
    font-size: 24px;
    color: #077ad1;
}
.editContainer p{
    display: none;
}
.deleteContainer p{
    display: none;
}
/* Status CSS styles */
.statusNew, .statusCurrent, .statusFinal{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    color: white;
}
.statusNew{
    background-color: rgb(185, 255, 185);
    color: rgb(0, 122, 0);
}
.statusCurrent{
    background-color: rgb(255, 255, 167);
    color: rgb(119, 101, 0);
}
.statusFinal{
    background-color: rgb(181, 220, 255);
    color: rgb(0, 85, 159);
}
/* Pagination Bar Styles */
#pagination{
    margin: 30px auto;
}
#pagination a{
    font-family: 'Poppins', serif;
    font-weight: 800;
    text-decoration: none;
    padding: 6.5px 17.5px;
    color: white;
    background-color: #272727;
    border: 2px solid black;
    transition-duration: 0.3s;
}
#pagination a:first-child{
    border-radius: 15px 0px 0px 15px;
    background-color: #0b4d80;
}
#pagination a:last-child{
    border-radius: 0px 15px 15px 0px;
    background-color: #0b4d80;
}
#pagination a:hover{
    background: #faebd7;
    color: black;
    transition-duration: 0.3s;
}
#pagination #currentPage{
    background-color: #0b66ac;
    color: white;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* Developer: Viet Hoang Pham. This is Dashboard page CSS style */
#Dashboard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#Dashboard article{
    display: flex;
    flex-direction: row;
    padding: 20px 20px 50px 20px;
    background-color: #fff;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgb(205, 205, 205);
}
#Dashboard article p{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
#Dashboard article h2{
    font-size: 27px;
    font-weight: 600;
}
.dashboardicon{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 48px;
}
#NewAppDashboard{
    border-bottom: 10px solid rgb(0, 172, 0);
}
#Dashboard article:first-child div h2{
    color: rgb(0, 122, 0);
}
#Dashboard article:first-child .dashboardicon{
    color: rgb(0, 122, 0);
}
#CurrentAppDashboard{
    border-bottom: 10px solid rgb(174, 148, 0);
}
#Dashboard article:nth-child(2) div h2{
    color: rgb(119, 101, 0);
}
#Dashboard article:nth-child(2) .dashboardicon{
    color: rgb(119, 101, 0);
}
#FinalAppDashboard{
    border-bottom: 10px solid rgb(0, 113, 211);
}
#Dashboard article:nth-child(3) div h2{
    color: rgb(0, 85, 159);
}
#Dashboard article:nth-child(3) .dashboardicon{
    color: rgb(0, 85, 159);
}
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* Developer: Viet Hoang Pham. This is Edit page CSS style */
#editHeader{
    text-align: center;
    margin: 50px 0 10px 0;
    font-size: 32px;
    color: red;
}
#notification{
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 24px;
    color: rgb(1, 154, 1);
}
#mainform fieldset{
    width: 80%;
    margin: 30px auto 30px auto;
    border-radius: 5px;
    padding-left: 40px;
}
#mainform fieldset > legend{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
#applicantDetails{
    padding: 10px 0;
    border-color: #0068b8;
    color: #0068b8;
}
#applicantDetails p{
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin: 7.5px 0;
}
.applicantHeader{
    font-size: 18px;
    font-weight: 600;
    color: #0068b8;
}
.applicantBox p{
    display: inline;
    margin: 5px 0;
}
.applicantBox{
    display: grid;
    grid-template-columns: 400px 500px;
}

#interviewPlan{
    border-color: rgb(128, 109, 0);
    color: rgb(128, 109, 0);
}
#interviewPlan .interviewBox{
    display: grid;
    grid-template-columns: 200px 350px 0;
    gap: 1rem;
    margin: 20px 0;
}
#interviewPlan .interviewBox label{
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(128, 109, 0);
}
input, textarea{
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    color: #555;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    border: 2px inset rgb(189, 164, 0);
}
#mainform #editquery{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 20px 0;
    width: 82.5%;
    margin: auto;
    align-items: center;
}
#editquery a{
    background-color:#0961a5;
    color: white;
    font-size: 17px;
    font-weight: 700;
    transition-duration: 0.2s;
    width: 100px;
    padding: 12.5px 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
    transition-duration: 0.2s;
}
#editquery #accept{
    background-color:rgb(0, 122, 0);
    padding: 0 20px;
    margin: 0 15px;
    transition-duration: 0.2s;
}
#editquery #reject{
    background-color: rgb(217, 1, 1);
    padding: 0 20px;
    margin: 0 15px;
    transition-duration: 0.2s;
}
#editquery #interview{
    background-color:rgb(128, 109, 0);
    padding: 0 20px;
    margin: 0 15px;
    transition-duration: 0.2s;
}
#editquery a:hover, #editquery button:hover{
    transform: scale(1.075);
}
